h1{
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: gray;
}

h2{
    font-family: Arial, Helvetica, sans-serif;
}


#multiply{
    border-radius: 5px;
    border: none;
    background-color: purple;
    cursor: pointer;
}

#divide{
    border-radius: 5px;
    border: none;
    background-color: green;
    cursor: pointer;
}